Link to dataset: https://buff.ly/3wV0BZT

In [6]:
pip install flatten_json

Collecting flatten_json
  Obtaining dependency information for flatten_json from https://files.pythonhosted.org/packages/63/b5/99f20a19b839e04fffab924be192681b797b40bcf83abdfa508371c6273c/flatten_json-0.1.14-py3-none-any.whl.metadata
  Downloading flatten_json-0.1.14-py3-none-any.whl.metadata (4.2 kB)
Requirement already satisfied: six in c:\users\raopo\anaconda3\lib\site-packages (from flatten_json) (1.16.0)
Downloading flatten_json-0.1.14-py3-none-any.whl (8.0 kB)
Installing collected packages: flatten_json
Successfully installed flatten_json-0.1.14
Note: you may need to restart the kernel to use updated packages.

In [7]:
import urllib.request
import json
from flatten_json import flatten
import pandas as pd

### 1. Read in the JSON file.

In [5]:
import urllib.request
import json
from flatten_json import flatten
import pandas as pd

ModuleNotFoundError: No module named 'flatten_json'

In [8]:
with urllib.request.urlopen('https://buff.ly/3wV0BZT') as url:
    data = json.load(url)

In [9]:
data

{'school_name': 'ABC primary school',
 'class': 'Year 1',
 'students': [{'id': 'A001',
   'name': 'Tom',
   'math': 60,
   'physics': 66,
   'chemistry': 61},
  {'id': 'A002', 'name': 'James', 'math': 89, 'physics': 76, 'chemistry': 51},
  {'id': 'A003', 'name': 'Jenny', 'math': 79, 'physics': 90, 'chemistry': 78}]}

### 2. Flatten the nested list from JSON object.

In [11]:
flat_json = flatten(data)
flat_json

{'school_name': 'ABC primary school',
 'class': 'Year 1',
 'students_0_id': 'A001',
 'students_0_name': 'Tom',
 'students_0_math': 60,
 'students_0_physics': 66,
 'students_0_chemistry': 61,
 'students_1_id': 'A002',
 'students_1_name': 'James',
 'students_1_math': 89,
 'students_1_physics': 76,
 'students_1_chemistry': 51,
 'students_2_id': 'A003',
 'students_2_name': 'Jenny',
 'students_2_math': 79,
 'students_2_physics': 90,
 'students_2_chemistry': 78}

### 3. Create a dataframe that includes the flatten list and all original columns.

In [13]:
df = pd.DataFrame(flat_json, index = [0])
df

,school_name,class,students_0_id,students_0_name,students_0_math,students_0_physics,students_0_chemistry,students_1_id,students_1_name,students_1_math,students_1_physics,students_1_chemistry,students_2_id,students_2_name,students_2_math,students_2_physics,students_2_chemistry
0,ABC primary school,Year 1,A001,Tom,60,66,61,A002,James,89,76,51,A003,Jenny,79,90,78